body
{
  background-color: #312929;
  overflow:   scroll;
}
::-webkit-scrollbar
{
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
table, tr, td
{
  border-collapse: collapse;
  text-align: center;
}
@media (max-width: 600px)
{
  table{
    width: 100%;
    margin: 0px;
  }
  #container
  {
    width: 100%;
  }
  .header
  {
    width: 100%;
  }
}
@media (min-width: 601px)
{
  table
  {
    width: 500px;
  }
  #container
  {
    width: 500px;
  }
  .header
  {
    width: 500px;
  }
}
table
{
  border: 1px solid black;
}
tr
{
  height: 25px;
}
td
{
  border-left: none;
}
h1
{
  color: white;
  font-size: 50px;
}
.place1
{
  background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) !important;
}
.place2
{
  background:
  linear-gradient(
    -72deg,
    #a1a1a1,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #dedede 27%,
    #ffffff 36%,
    #dedede, 45%,
    #ffffff, 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  ) !important;
}
.place3
{
    background:
    linear-gradient(
        -72deg,
        #ffdeca,
        #ca7345 16%,
        #c36743 56%,
        #a65433 48%,
        #c36743 56%,
        #ca7345 84%,
        #ffdeca
    ) !important;

}
#container
{
  margin: auto;
  text-align: center;
}
#menu-placeholder
{
  height: 50px;
}
#menu
{
  width: 100%;
  height: 50px;
  background-color: #5EA3F5;
  color: white;
  margin: 0px;
  padding: 0px;
}
#menu a
{
  width: 50%;
  height: 35px;
  float: left;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}
#menu a:hover
{
  background-color: #4965DE;
}
#menu a:active
{
  background-color: #384DAB;
}
#login
{
  background-color: #5EA3F5;
  width: 50%;
  height: 200px;
  position: relative;
  left: 25%;
  border-radius: 5px;
}
#login form
{
  position: relative;
  top: 25%;
}
.sticky
{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container
{
  padding-top: 60px;
}
.header
{
  margin: auto;
  text-align: center;
  font-size: large;
}
.row0
{
  background-color: #5EA3F5;
}
.row1
{
  background-color: #817b7b;
}
.toDelete
{
  border: 1px solid red !important;
  background-color: #e66363 !important;
}